@font-face {
    font-family: Lemonmilk;
    src: url(./fonts/Lemonmilk.otf);
}

h1, h2, h3, h4, h5, h6, p, ul, li{
    margin: 0;
    padding: 0;
}

ul, li{
    list-style: none;
}

body{
    margin: 0;
    font-family: 'Lemonmilk';
}

.container{
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr;
}

.header{
    display: flex;
    background: rgb(212,34,34);
background: radial-gradient(circle, rgba(212,34,34,1) 0%, rgba(252,176,69,1) 100%);
border-bottom: black 2px solid;
}


.title{
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-bottom: white 1px solid;
}

.long-section{
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.right{
    display: grid;
    grid-template-columns: repeat(3, 100px) 200px;
    gap: 10px;
}

.left{
    display: flex;
}

.menu-clickable{
    background-image: url(./img/menu.svg);
    min-width: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}

.search-bar > input{
    border: none;
    border-radius: 10px;
    height: 1.5rem;
    width: 20rem;
    font-size: 1rem;
    padding: 0px 10px;
}

.search-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mail-icon{
    background-image: url(./img/mail.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.bell-icon{
    background-image: url(./img/bell.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.alarm-icon{
    background-image: url(./img/alarm.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.profile-section{
    display: flex;
    justify-content:end;
    gap: 10px;
    margin-right: 20px;
}

.profile-section > img{
    vertical-align: middle;
    border-radius: 50%;
    align-self: center;
    border: 2px solid black;
}

.profile-text{
    display: grid;
    font-size: 12px;
}

.profile-text > h3 {
    align-self: flex-end;
    justify-self: center;
}

/* ----- MAIN SECTION ----- */
.main{
    display: grid;
    grid-template-columns: 300px 1fr;
}

.widget-section > ul{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

.widget-section > ul li:first-child{
    border-top: none;
}

.widget-section li{
    min-width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    border: 1px white solid;
    gap: 20px;
}

.widget-section img{
    width: 2.5rem;
}

.grid-section{
    display: grid;
    grid-template-rows: 20% 1fr;
    padding-top: 4rem;
    background: rgb(194,195,186);
background: linear-gradient(45deg, rgba(194,195,186,1) 0%, rgba(241,235,222,0.9556197478991597) 100%);
}

.grid-section > .top{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.grid-section > .top > div{
    display: flex;
    gap: 4rem;
    padding: 3rem 5rem;
    border-radius: 1rem;
    border: 1px solid black;
}

.sales-box{
    background: rgb(48,195,199);
background: linear-gradient(90deg, rgba(48,195,199,0.7819502801120448) 0%, rgba(52,161,210,1) 35%, rgba(0,108,255,0.896796218487395) 100%);
}

.expenses-box{
    background-color: pink;
}

.expenses-box img{
    width: 45px;
}

.revenue-box{
    background: rgb(209,222,41);
background: linear-gradient(45deg, rgba(209,222,41,1) 0%, rgba(252,169,0,0.9556197478991597) 100%);
}

.text{
    display: grid;
    gap: 1rem;
    color: white;
}

.text > h5{
    font-size: 2rem;
}

.text > p{
    font-size: 0.8rem;
}

.bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.bottom > div{
    border: 1px solid black;
    padding: 3rem;
    background-color: white;
    
}

.bottom img{
    width: 30rem;
}


